<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">数据可视化</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!console">首页</a>
          <a><cite>数据可视化</cite></a>
        </span>
    </div>
    <div class="layui-card-body">

        <blockquote class="layui-card-body layui-elem-quote">
            Echart默认图表展示
        </blockquote>

        <!--使用布局来显示图表-->
        <div class="layui-card-body layui-fluid">
            <div class="layui-row layui-col-space10" id="echart-row">
            <!--<div class="layui-col-md4">
                    <div class="layui-bg-gray" style="height:400px;" id="mode1"></div>
                </div>  -->
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['echarts', 'jquery', 'element','admin','config'], function () {
        var echarts = layui.echarts;
        var $ = layui.jquery;
        var element = layui.element;
        var admin = layui.admin;
        var config = layui.config;

        var type = ["simpleEchartBar",
            "transverseEchartBar",
            "simpleChartFunnel",
            "simpleGaugeChart",
            "basicLineChart",
            "basicAreaChart",
            "smoothedLineChart",
            "stackedAreaChart",
            "simpleChartPie",
            "radiusChartPiepie",
            "doughnutChartPie",
            "roseDiagramChartPie",
            "rectangularEchartPie"];


        $echart = $('#echart-row');
        for(var i = 0,len = type.length; i < len; i++){
            var model_id = 'model_' + i;
            $echart.append("<div class=\"layui-col-md4\">\n" +
                "<div class=\"layui-bg-gray\" style=\"height:400px;\" id=\""+model_id+"\"></div>\n" +
                "</div>");
        }

        var arr = new Array();
        for(var i = 0,len = type.length; i < len; i++){
            var url = 'echart/' + type[i];
            var ele =$('#model_' + i)[0];
            arr[i] = echarts.init(ele);
            //获取默认的图形
            $.ajax({
                url: config.base_server + url,
                dataType: 'json',
                type: 'GET',
                success: function(j) {
                    return function(data){
                        var option_data = JSON.parse(data.msg);
                        arr[j].setOption(option_data);
                    }
                }(i)
            });
        }
    });
</script>